@media (min-width: 1280px) {
  .navigation {
    padding: 0 3rem;
  }

  .start-page {
    &__cat-bg {
      top: -2%;
      right: 10%;
      height: 120%;
    }

    &__title {
      margin: 0 3.6rem;
      font-size: 3.5rem;
      line-height: 4.2rem;
    }
  }

  .description__box {
    grid-template-columns: 50% 50%;
  }

  .description__box--alternative {
    grid-template-columns: 50% 50%;
  }

}
