@media (min-width: 1600px) {
  h2 {
    font-size: 2.7rem;
    line-height: 3.5rem;
  }

  h3 {
    font-size: 1.4rem;
  }

  .box-default {
    padding: 4rem 14vw 4rem 14vw;
  }

  .box-alternative {
    padding: calc(4rem + 40px) 14vw 5rem 14vw;
  }

  .start-page {
    &__cat-bg {
      right: 10%;
    }

    &__title {
      transform: translateY(20px);
      font-size: 5rem;
      line-height: 5rem;
    }

    &__swipe-button {
      &--icon {
        width: 54px;
        height: 54px;
      }
    }
  }

  .opening-hours__description::before {
    left: 250px;
  }

  .description__box--text {
    margin: 0 0 0 4rem;
  }

  .description__box--alternative .description__box--text {
    margin: 0 4rem 0 0;
  }
}
