@media (min-width: 550px) {
  h2 {
    font-size: 2.2rem;
  }

  .start-page__cat-bg {
    right: 0;
  }

  .where__google-maps {
    min-height: 500px;
  }

  .cats-adoption {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}
