@media (min-width: 640px) {
  .box-default {
    padding: 4rem 9vw 4rem 9vw;
  }

  .box-alternative {
    padding: calc(2rem + 40px) 9vw 5rem 9vw;
  }

  .start-page__cat-bg {
    height: 115%;
  }
}
