@media (min-width: 640px) {
  .box-default {
    padding: 4rem 4rem 4rem 4rem;
  }

  .box-alternative {
    padding: calc(2rem + 40px) 4rem 5rem 4rem;
  }

  .start-page__cat-bg {
    height: 115%;
  }
}
