@media (min-width: 640px) {
  .box-default {
    padding: 4rem 9vw 4rem 9vw;
  }

  .box-alternative {
    padding: calc(4rem + 40px) 9vw 5rem 9vw;
  }

  .start-page__cat-bg {
    height: 115%;
  }

  .author {
    flex-flow: row wrap;

    &__text {
      font-size: 0.8rem;

      &:first-child,
      &:last-child {
        margin: 0.8rem;
      }
    }

    &__link {
      font-weight: $mediumFont;
    }
  }
}
