@media (min-width: 880px) {
    .menu {
        &__hamburger-button {
            display: none;
        }
    }
    .links-list {
        position: unset;
        top: 0;
        left: 0;
        flex-flow: row nowrap;
        width: auto;
        height: auto;
        background: transparent;
    }
}