@media (min-width: 880px) {
  .menu {
    &__hamburger-button {
      display: none;
      pointer-events: none;
    }
  }
  .links-list {
    position: unset;
    top: 0;
    left: 0;
    flex-flow: row nowrap;
    width: auto;
    height: auto;
    background: transparent;

    &--active {
      transform: unset;
    }
  }

  .start-page {
    &__swipe-button {
      &--icon {
        background: url('../assets/svg/mouse.svg') no-repeat;
      }
    }
  }

  .information__box {
    align-items: center;
  }

  .opening-hours,
  .news {
    grid-gap: 10rem;
  }

  .opening-hours__description::before {
    display: block;
  }

  .image-information {
    max-width: 400px;
  }
}
