@media (min-width: 970px) {
  h3 {
    font-size: 1.2rem;
  }

  p {
    font-size: 1.1rem;
    line-height: 2.2rem;
  }

  .menu {
    &__hamburger-button {
      display: none;
      pointer-events: none;
    }
  }

  .links-list {
    position: unset;
    top: 0;
    left: 0;
    flex-flow: row nowrap;
    width: auto;
    height: auto;
    background: transparent;

    &__element {
      transition: transform 0.5s ease;
      position: relative;
      overflow: hidden;

      &--link {
        transition: tranform 0.5s ease-in-out;
      }

      &:last-child {
        margin: 0;
      }

      &:hover {
        transform: scale(1.12);

        .links-list__element--link {
          color: $lightGreenColor;
        }
      }
    }

    &--active {
      transform: unset;
    }
  }

  .swipe-button__icon {
    background: url('../assets/svg/start-page__mouse-icon.svg') no-repeat;
  }

  .information__box {
    align-items: center;
  }

  .opening-hours,
  .news {
    grid-gap: 10rem;
  }

  .opening-hours__description::before {
    display: block;
  }

  .image-information {
    max-width: 400px;
  }

  .footer {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    justify-content: center;

    &__about {
      grid-area: 1 / 1 / 2 / 2;
      padding: 2rem 0 1rem 4vw;
      max-width: 40vw;
    }

    &__footer-nav {
      grid-area: 1 / 2 / 2 / 3;
      padding: 2rem 5rem 1rem 5rem;
    }

    &__social {
      grid-area: 1 / 3 / 2 / 4;
      padding: 2rem 4vw 1rem 0;
    }

    &__author {
      grid-area: 2 / 1 / 3 / 4;
      padding: 5px 4rem;
      border-radius: 2rem 2rem 0 0;
    }
  }

  .contact {
    &__box {
      display: grid;
      grid-template-columns: 340px auto;
      grid-template-rows: auto;
      grid-gap: 2rem 7vw;
    }

    &__info-box {
      grid-area: 1 / 2 / 3 / 3;
    }

    &__facebook {
      grid-area: 1 / 1 / 2 / 3;
    }
  }

  .cookie__text {
    font-size: 0.9rem;
  }
}
