@mixin textHighlight($color) {
  font-weight: $boldFont;
  color: $color;
  letter-spacing: 1px;
}

@mixin photoRadius() {
  border-radius: 1.2rem;
}

@mixin informationGrid($margin) {
  margin: $margin;
  display: grid;
  grid-template-columns: 2fr;
  grid-template-rows: auto;
  grid-gap: 4rem;
}