@mixin defaultBoxPadding() {
  padding: 1.25rem 1.25rem 4rem 1.25rem;
}

@mixin defaultPadding () {
  padding: calc(1.25rem + 30px) 1.25rem 4rem 1.25rem;
}

@mixin textHighlight($color) {
  font-weight: $boldFont;
  color: $color;
  letter-spacing: 1px;
}
